:root {
  --color-input: oklch(0.795 0.184 86.047);
}

.input-container {
  position: relative;
  margin-bottom: 1.5rem;
  width: 100%;
}

.input-field {
  width: 100%;
  padding: 1rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
}

.input-field:focus {
  border-color: var(--color-input);
}

.input-field.active,
.input-field:-webkit-autofill {
  border-color: var(--color-input);
}

.input-label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  color: #777;
  font-size: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
  background-color: white;
  padding-inline: 4px;
}

.input-label.active,
.input-field:-webkit-autofill + .input-label {
  top: 0;
  font-size: 0.75rem;
  color: var(--color-input);
  transform: translateY(-50%);
}
.input-field:-webkit-autofill,
.input-field:-webkit-autofill:hover,
.input-field:-webkit-autofill:focus,
.input-field:-webkit-autofill:active {
  -webkit-text-fill-color: currentColor;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}
